@use '../utils' as *;

/*----------------------------------------*/
/*  BREADCRUMB CSS START
/*----------------------------------------*/

.bd-breadcrumb {
    position: relative;
    z-index: 2;
    min-height: 400px;

    @media #{$sm, $xs} {
        min-height: 350px;
    }

    &-area {
        padding-top: 200px;

        @media #{$lg,$md,$sm,$xs} {
            padding-top: 90px;
        }

    }

    &__thumb {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: .05;
        z-index: -1;
    }

    &__title {
        font-size: 70px;
        line-height: 1.2;
        text-transform: capitalize;
        color: var(--bd-common-black);

        @media #{$xl} {
            font-size: 60px;
        }

        @media #{$lg} {
            font-size: 55px;
        }

        @media #{$md} {
            font-size: 50px;
        }

        @media #{$sm,$xs} {
            font-size: 45px;
        }

        @media #{$xxs} {
            font-size: 40px;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 28px;

        span {
            position: relative;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: var(--bd-common-black);



            a {
                &:hover {
                    color: var(--bd-theme-1);
                }
            }

            i {
                margin-inline-end: 10px;

                @include rtl {
                    margin-inline-start: 10px;
                }
            }

            &::before {
                font-family: var(--bd-ff-fontawesome);
                position: absolute;
                content: "\f105";
                font-weight: 400;
                border-radius: 40%;
                inset-inline-end: -15px;
                top: 1px;
            }

            &:last-child {
                &::before {
                    content: none;
                }
            }
        }
    }
}