@use '../utils' as *;

/*----------------------------------------*/
/*  04. PRELOADER CSS START
/*----------------------------------------*/

//preloader 
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: #000;
	transition: .3s;
}

.preloader {
	&-thumb {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		height: 260px;
		width: 260px;

		@media #{$xs} {
			height: 200px;
			width: 200px;
		}

		@media #{$xxs} {
			height: 150px;
			width: 150px;
		}

		img {
			width: 140px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			animation: img-blink 1s ease-in-out infinite alternate;

			@media #{$xxs} {
				width: 100px;
			}
		}

		&-wrap {
			display: flex;
			justify-content: center;
			height: 100%;
			align-items: center;
		}
	}

	&-border {
		border: 2px dashed var(--bd-theme-1);
		height: 100%;
		width: 100%;
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 0;
		animation: rotate-infinite-2 15s linear infinite;

		@media #{$xxs} {
			border-width: 1px;
		}
	}
}

//PRELAODER CSS END