@use '../utils' as *;

// 11. SECTION TITLE CSS START HERE

.bd-section__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--bd-text-2);
    display: inline-block;

    @media #{$sm,$xs} {
        margin-top: -12px;
        display: inline-block;
    }
}

.bd-section__title {
    // text-transform: capitalize;
    font-size: 55px;
    $self: &;

    br {
        @media #{$lg,$md,$sm,$xs} {
            display: none;
        }
    }

    @media #{$xl} {
        font-size: 48px;
    }

    @media #{$lg, $md} {
        font-size: 40px;
    }

    @media #{$sm, $xs} {
        font-size: 30px;
    }

    @media #{$xxs} {
        font-size: 28px;
    }

    &-wrapper {
        &.is-white {
            & #{$self} {
                color: var(--bd-common-white);
            }

            .bd-section__subtitle {
                color: var(--bd-common-white);
            }
        }
    }

}

// SECTION TITLE CSS END HERE