@use '../utils' as *;

// =============== 23. ERROR 404 CSS START HERE ================
.bd-error {
    &-area {
        margin-top: 200px;

        @media #{$md} {
            margin-top: 130px;
        }

        @media #{$sm,$xs} {
            margin-top: 160px;
            padding-bottom: 10px;
        }
    }

    &-btn {
        a {
            display: inline-flex;
            justify-content: center;
            gap: 10px;
            align-items: center;
            border: 1px solid var(--bd-grey-1);
            padding: 13px 30px;

            &:hover {
                border-color: var(--bd-theme-1);
            }
        }
    }

    &-thumb {
        img {
            max-width: 100%;
        }
    }
}

// ERROR 404 CSS END HERE