@use '../utils' as *;

// =============== 12. HEADER CSS START HERE ===============

/* logo */
.bd-header {
    $self: &;
    position: relative;

    .container {
        max-width: 1640px;
    }

    &__logo {
        width: 190px;

        @media #{$xxs} {
            width: 160px;
        }

        img {
            width: 100%;
        }
    }

    &__bg {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;

        &::before {
            content: "";
            background-color: #000000;
            opacity: 0.75;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__top {
        padding: 30px 0;

        &.header-sticky {
            background: var(--bd-common-black);
            padding: 20px 0;
        }
    }

    &__meta {
        &-item {
            gap: 15px;
        }

        &-icon {
            i {
                color: var(--bd-common-white);
            }
        }

        &-text {
            p {
                font-size: 18px;
                line-height: 26px;
                margin: 0;
                color: var(--bd-common-white);
                font-weight: var(--bd-fw-medium);

                &:hover {
                    color: var(--bd-theme-1);
                }
            }
        }
    }

    &.transparent-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
    }
}

.bd-header-lang {
    display: flex;
    align-items: center;
    gap: 15px;

    &__item {
        a {
            display: inline-block;
            height: 40px;
            width: 40px;
            justify-content: center;
            text-align: center;
            color: var(--bd-common-black);
            text-transform: uppercase;
            line-height: 38px;
            border: 1px solid var(--bd-common-black);
            opacity: .5;
            border-radius: 50%;
            letter-spacing: 0.05em;

            &.active {
                opacity: 1;
            }

            &:hover {
                opacity: 1;
                background-color: var(--bd-common-black);
                color: var(--bd-common-white);
            }
        }
    }
}

.bd-header-hamburger {
    position: relative;
    cursor: pointer;
    @include transition(.3s);
    width: 45px;

    span {
        height: 2px;
        width: 100%;
        background-color: var(--bd-grey-1);
        display: block;
        @include transition(.3s);

        &:not(:last-child) {
            margin-bottom: 12px;
        }

        @media #{$xs,$sm} {
            width: 45px;
        }

        &:nth-child(2) {
            width: 70%;
            margin-inline-end: auto;

            @media #{$sm,$xs} {
                width: 100%;
            }
        }
    }

    &:hover {
        span {
            background-color: var(--bd-theme-1);

            &:nth-child(2) {
                width: 100%;
            }
        }
    }

    &.is-black {
        span {
            background-color: var(--bd-common-black);
        }
    }
}

.logo {
    & img {
        width: 190px;
    }
}

.header-sticky {
    position: fixed !important;
    left: 0;
    margin: auto;
    top: 0;
    width: 100%;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
    z-index: 99;
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0px 4px 10px rgba(3, 4, 28, 0.1);
    box-shadow: 0px 4px 10px rgba(3, 4, 28, 0.1);

    &.is-transparent {
        background: var(--bd-common-white);

        .bd-main-menu {
            &.is-white {
                ul {
                    li {
                        a {
                            color: var(--bd-common-black);
                        }

                        &.has-dropdown {
                            >a {
                                &::after {
                                    color: var(--bd-common-black);
                                }
                            }
                        }

                        .submenu {
                            li {
                                a {
                                    color: var(--bd-common-black);
                                }
                            }
                        }

                        &.has-mega-menu {
                            .mega-menu {
                                li {
                                    ul {
                                        li {
                                            a {
                                                color: var(--bd-common-black);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.header-pos {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
}

.bd-header-3 {
    padding: 24px 0;

    &.header-sticky {
        padding: 19px 0;
    }

    &:not(.header-sticky) {
        .bd-btn.fill-btn {
            background-color: var(--bd-common-white);
            color: var(--bd-common-black);
            border-color: var(--bd-common-white);

            @media #{$lg,$md} {
                background-color: var(--bd-theme-1);
                color: var(--bd-common-black);
                border-color: var(--bd-theme-1);
            }
        }
    }

    &__bottom-left {
        @media #{$sm,$xs} {
            width: 100%;
        }
    }

    &__hamburger {
        margin-inline-start: 150px;

        @media #{$sm,$xs} {
            margin-inline-start: auto;
        }
    }
}

.bd-header-2__main {
    @media #{$lg,$md,$sm,$xs} {
        padding: 20px 0;
    }
}

// HEADER CSS END