@use '../utils' as *;


//===============16. FAQ CSS START HERE ================

.login{
    &__wrapper{
        padding: 50px 85px 55px;
        background: var(--bd-common-white);
        box-shadow: 0px 30px 60px rgba(3, 4, 28, 0.1);  

        @media #{$xl}{
            padding: 50px 60px 55px;
        }

        @media #{$sm}{
            padding: 50px 40px 55px;
        }

        @media #{$xs}{
            padding: 40px 25px 45px;
        }
    }
    &__title{
        font-size: 34px;
        letter-spacing: -0.04em;
        margin-bottom: 6px;
    }
    &__top{
        & p{
            font-size: 16px;
        }
    }
    &__input{
        position: relative;
        &-wrapper{
            margin-bottom: 14px;
        }
        & input{
            background: #FFFFFF;
            border: 1px solid #EAEAEF;
            padding-left: 55px;
            padding-right: 50px;
            height: 60px;
            line-height: 60px;
            width: 100%;
            &:focus{
                border-color: var(--bd-theme-1);
            }
        }
        & span{
            position: absolute;
            top: 50%;
            left: 27px;
            @include transform(translateY(calc(-50% - 3px)));
        }

        &-item{
            position: relative;
            &:not(:last-child){
                margin-bottom: 20px;
            }
            
            & > span,
            & .login-input-eye{
                position: absolute;
                top: 50%;
                right: 22px;
                @include transform(translateY(calc(-50% - 3px)));
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    &__remember{
        & input[type="checkbox"],
        & input[type="radio"]{
            display: none;

            &:checked{
                & ~ label{
                    &::after{
                        background-color: transparent;
                        border-color: var(--bd-theme-1);
                    }
                    &::before{
                        @include transform(scale(1));
                    }
                }
            }
        }
        & label{
            font-size: 14px;
            position: relative;
            padding-left: 30px;
            &::after,
            &::before{
                position: absolute;
                content: '';
                left: 0;
                top: 2px;
                width: 20px;
                height: 20px;
                background-color: var(--bd-common-white);
                border: 1px solid #EAEAEF;
                @include transition(.2s);
            }
            &::before{
                width: 14px;
                height: 14px;
                background-color: var(--bd-theme-1);
                left: 3px;
                top: 5px;
                right: 3px;
                bottom: 3px;
                @include transform(scale(0));
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
    &__forgot{
        & a{
            font-size: 16px;
            color: var(--bd-common-text);
            text-transform: capitalize;
            &:hover{
                color: var(--bd-common-text);
            }
        }
    }
    &__btn{
        margin-bottom: 18px;
        & .tp-btn{
            font-size: 18px;
            padding: 17px 30px;

            &:hover{
                background-color: var(--bd-common-black);
            }
        }
    }
    &__social{
        &-header{
            font-weight: 500;
            font-size: 15px;
            letter-spacing: -0.02em;
            color: var(--bd-common-black);
            position: relative;
            display: inline-block;
            text-align: center;
            padding: 0 10px;
            margin-bottom: 25px;

            &::after,
            &::before{
                position: absolute;
                content: '';
                left: 100%;
                top: 10px;
                width: 30px;
                height: 1px;
                background-color: var(--bd-common-black);
            }
            &::before{
                left: auto;
                right: 100%;
            }
        }

        &-item{
            & a{
                display: inline-block;
                padding: 11px 25px;
                font-weight: 500;
                font-size: 14px;
                background: var(--bd-common-white);
                border: 1px solid #EAEAEF;
                margin-bottom: 20px;
                margin-right: 5px;

                @media #{$xs}{
                    width: 100%;
                    margin-right: 0;
                }
                &:last-child{
                    margin-right: 0;
                }
                & .login-social-icon{
                    margin-right: 3px;
                    & svg{
                        @include transform(translateY(-2px));
                    }
                }
                &:hover{
                    border-color: var(--bd-theme-1);
                }
            }
        }
    }
    &__register{
        &-now{
            text-align: center;
            & p{
                font-size: 14px;
                color: #525258;
                margin-bottom: 0;
                & a{
                    color: var(--bd-theme-1);
                    font-weight: 500;
                }
            }
        }
    }
}
.login__btn {
    button {
        border: 1px solid #EAEAEF;
        padding-right: 30px;
        color: var(--bd-common-black);
    }
}