@use '../utils' as *;

// =============== 26. PRODUCT CSS START HERE ================
.bd-product {
    background-color: var(--bd-common-white);
    border-radius: 24px;
    overflow: hidden;
    $self: &;

    &-2 {
        border: 1px solid var(--bd-grey-1);
    }

    &:hover {
        #{$self} {
            &-action {
                &-wrapper {
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(0);
                }
            }

            &-thumb {
                &-wrapper {
                    .bd-dots-pagination {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }


    &-filter-btn {
        display: inline-flex;
        gap: 30px;
        justify-content: flex-end;
        border-bottom: 1px solid var(--bd-grey-1);

        button {
            font-size: 16px;
            line-height: 32px;
            font-weight: 500;
            position: relative;

            &.active {
                @include transition(.3s);

                &::before {
                    content: "";
                    width: 100%;
                    background-color: var(--bd-common-black);
                    height: 3px;
                    bottom: -2px;
                    inset-inline-start: 0;
                    position: absolute;
                }
            }
        }

        @media #{$sm,$xs} {
            gap: 20px;
        }
    }

    &-thumb {
        height: 416px;
        width: 416px;

        @media #{$md} {
            height: 336px;
            width: 336px;
        }

        @media #{$sm} {
            height: 246px;
            width: 246px;
        }

        @media #{$xs} {
            height: 100%;
            width: 100%;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &-wrapper {
            position: relative;

            .bd-dots-pagination {
                @include transition(.3s);
                position: absolute;
                bottom: 30px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                opacity: 0;
                visibility: hidden;
                margin-top: 0;
            }
        }
    }

    &-tag {
        span {
            color: var(--bd-common-white);
            display: inline-block;
            position: absolute;
            top: 24px;
            inset-inline-start: 24px;
            border-radius: 24px;
            padding: 4px 12px;
            z-index: 1;

            &.grey-bg {
                color: var(--bd-common-black);
            }
        }
    }

    &-action {
        &-wrapper {
            position: absolute;
            top: 24px;
            inset-inline-end: 24px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            opacity: 0;
            visibility: hidden;
            @include transition(.5s);
            transform: translateX(10px);
            z-index: 1;
        }

        &-item {

            a,
            button {
                height: 39px;
                width: 39px;
                text-align: center;
                line-height: 39px;
                background: var(--bd-theme-2);
                border-radius: 50%;
                color: var(--bd-common-white);
                display: inline-block;
                @include transition(.3s);

                &:hover {
                    color: var(--bd-common-white);
                    background-color: var(--bd-theme-1);
                }
            }
        }
    }

    &-content {
        padding: 24px;
        border-top: 1px solid var(--bd-grey-1);
        text-align: center;
    }

    &-title {
        margin-bottom: 3px;
    }

    &-rating {
        margin-bottom: 10px;

        a {
            font-size: 16px;
            color: var(--bd-theme-2);
        }
    }

    &-price {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;

        span {
            font-weight: 600;
            font-size: 18px;
            line-height: 30px;
        }

        del {
            color: #A0A0A0;
        }
    }
}

// PRODUCT CSS END HERE