@use '../utils' as *;

// ============== 25. ROOMVIEW CSS START HERE ============== 
.bd-roomview-area {
    background: var(--bd-common-black);
    position: relative;
}

.bd-roomview {
    &__bg {
        height: 100%;
        width: 55%;
        position: absolute;
        inset-inline-start: 0;
        top: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        @include transition(8s);

        &:hover {
            background-position: right;

            .bd-roomview__btn {
                a {
                    i {
                        animation: rotate-infinite 8s infinite alternate;
                    }
                }
            }
        }

        &-2 {
            height: 100%;
            width: 100%;
            position: absolute;
            inset-inline-start: 0;
            top: 0;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;

            &::before {
                content: "";
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        @media #{$lg} {
            width: 48%;
        }

        @media #{$md,$sm,$xs} {
            height: 500px;
            width: 100%;
            position: relative;
        }

        &::before {
            content: "";
            background-color: #000000;
            opacity: 0.15;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__btn {
        a {
            display: inline-block;
            height: 86px;
            width: 86px;
            font-size: 40px;
            color: var(--bd-common-white);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid var(--bd-common-white);
            line-height: 86px;
            text-align: center;
            border-radius: 50%;

            i {
                display: inline-block;
            }
        }
    }

    &__list {
        ul {
            display: flex;
            flex-direction: column;
            gap: 35px;

            li {
                list-style: none;

                a {
                    font-size: 24px;
                    line-height: 40px;
                    text-transform: capitalize;
                    color: var(--bd-common-white);
                    font-family: var(--bd-ff-heading);
                    position: relative;
                    @include transition(.4s);
                    z-index: 2;

                    @media #{$xs} {
                        font-size: 20px;
                    }

                    i {
                        transform: rotate(-45deg);
                        font-size: 26px;
                        opacity: 0;
                        visibility: hidden;
                        @include transition(.4s);
                    }

                    &::before {
                        position: absolute;
                        content: "";
                        width: 0px;
                        height: 1px;
                        top: 50%;
                        inset-inline-start: 0;
                        transform: translateY(-50%);
                        background-color: var(--bd-common-white);
                        opacity: 0;
                        visibility: hidden;
                        @include transition(.4s);
                        z-index: 1;
                    }

                    &:hover {
                        padding-inline-start: 65px;
                        font-size: 36px;

                        @media #{$xs} {
                            font-size: 25px;
                        }

                        &::before {
                            width: 53px;
                            opacity: 1;
                            visibility: visible;
                        }

                        i {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }

    &__slider {
        &-wrap {
            min-height: 690px;

            @media #{$xs} {
                min-height: 600px;
            }
        }

        &-number {
            position: absolute;
            color: var(--bd-common-white);
            z-index: 33;
            font-size: 45px;
            bottom: 230px;
            padding-inline-start: 100px;

            @media #{$md,$sm,$xs} {
                padding-inline-start: 0px;
            }

            @media #{$xs} {
                display: none !important;
            }

            span {
                font-size: 16px;
                line-height: 1;
                text-align: center;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                display: inline-block;
                font-weight: 400;

                &.current {
                    font-weight: 500;
                    color: var(--bd-theme-1);
                    font-size: 24px;

                    @include rtl {
                        transform: translateY(10px);
                        padding-left: 5px;
                    }
                }

                &.total {
                    transform: translate(-10px, 25px);

                    @include rtl {
                        transform: translate(0px, 20px);
                    }
                }

                &.divider {
                    transform: rotate(20deg);
                    font-size: 45px;
                    color: var(--bd-common-white);
                }
            }
        }
    }

    &__price {
        height: 120px;
        width: 120px;
        border: 1px solid var(--bd-grey-1);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        p {
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: var(--bd-common-white);
            margin: 0;

            span {
                font-size: 28px;
            }
        }
    }

    &__line {
        &-1 {
            position: absolute;
            width: 21%;
            background-color: var(--bd-common-white);
            height: 1px;
            left: 0;
            bottom: 170px;
            z-index: 33;

            @media #{$xs} {
                bottom: 100px;
            }
        }

        &-2 {
            position: absolute;
            width: 21%;
            background-color: var(--bd-common-white);
            height: 1px;
            right: 0;
            bottom: 170px;
            z-index: 33;

            @media #{$xs} {
                bottom: 100px;
            }
        }
    }

    &__pagination {
        position: absolute;
        left: 0;
        z-index: 1;
        bottom: 65px;
        right: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include transition(.3s);

        @media #{$md,$sm} {
            gap: 20px 50px;
            justify-content: center;
            bottom: 30px;
        }

        @media #{$xs} {
            gap: 10px 30px;
            justify-content: center;
            bottom: 120px;
        }


        .swiper-pagination-bullet {
            width: auto;
            height: auto;
            border-radius: 0%;
            opacity: 1;
            background: transparent;
            font-weight: 400;
            font-size: 24px;
            line-height: 40px;
            text-transform: capitalize;
            color: var(--bd-common-white);
            @include transition(.3s);

            @media #{$xs} {
                font-size: 20px;
            }

            &.swiper-pagination-bullet-active {
                font-size: 36px;
                text-decoration: underline;

                @media #{$md,$sm,$xs} {
                    font-size: 24px;
                    color: var(--bd-theme-1);
                }
            }
        }

        &-wrap {
            position: relative;
        }
    }
}