@use '../utils' as *;

// =============== 32. SERVICE CSS START ===============
.bd-service {
    min-height: 409px;
    padding: 30px;
    position: relative;
    overflow: hidden;
    $self: &;

    &:hover {
        .bd-service__bg {
            @include transform(scale(1.1));
        }
    }

    &__bg {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 1;
        visibility: visible;
        @include transition(.3s);

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 40px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            height: 100%;
            width: 100%;
        }
    }

    &__title {
        font-size: 24px;
        line-height: 40px;
        text-transform: capitalize;
        position: absolute;
        top: calc(100% - 105px);
        color: var(--bd-common-white);
        inset-inline-start: 30px;
        @include transition(.3s);

        a {
            &:hover {
                color: var(--bd-theme-1);
                letter-spacing: 1px;
            }
        }
    }

    &__price {
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        position: absolute;
        bottom: 30px;
        inset-inline-start: 30px;
        font-size: 24px;
        color: var(--bd-common-white);
    }
}



.service-intro-thumb {
    min-height: 620px;
    overflow: hidden;
    position: relative;
    width: calc(100% + 250px);

    img {
        position: absolute;
        bottom: 0;
        height: 120%;
        width: 100%;
        object-fit: cover;
    }

    @media #{$xs,$sm,$md,$lg} {
        min-height: 400px;
        width: calc(100% + 0px);
    }
}

.service-intro-text {
    max-width: 1089px;

    @media #{$xl} {
        max-width: 900px;
    }
}

.line__subtitle {
    font-size: 18px;
    color: #000000;
    line-height: 1;
    font-family: var(--tpl-ff-heading);
    position: relative;
    padding-left: 190px;
    display: inline-block;
    font-weight: 600;

    &::before {
        content: "";
        width: 170px;
        height: 1px;
        background: #D9D9D9;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &::after {
        position: absolute;
        content: "";
        width: 40px;
        height: 1px;
        background: var(--clr-theme-2);
        left: 130px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.section-intro-paragraph {
    font-size: 24px;
    margin-bottom: 0;
    line-height: 1.7;
}

.bd-service-details {
    &-area {
        .swiper-container {
            overflow: visible;
        }
    }

    &__title {
        font-size: 36px;
        text-transform: capitalize;

        @media #{$xs} {
            font-size: 30px;
        }
    }

    &__widget {
        border-bottom: 1px solid var(--bd-grey-1);
    }

    &__list {
        &-2 {
            ul {
                list-style-type: none;

                li {
                    font-size: 16px;
                    line-height: 28px;
                    text-transform: capitalize;
                    color: #393939;
                }
            }
        }

        ul {
            display: grid;
            grid-template-columns: repeat(3, 240px);
            list-style: none;
            row-gap: 10px;

            @media #{$lg} {
                grid-template-columns: repeat(3, 215px);
            }

            @media #{$sm,$xs} {
                grid-template-columns: 1fr;
            }

            li {
                display: flex;
                gap: 10px;
                align-items: center;
                font-size: 16px;
                line-height: 28px;
                text-transform: capitalize;
                color: var(--bd-common-black);

                i {
                    font-size: 20px;
                    color: var(--bd-theme-1);
                }
            }
        }
    }

    &__thumb {
        img {
            width: 100%;
        }
    }
}

.bd-service-area {
    @media #{$sm, $xs} {
        padding-top: 80px;
    }

    &.mpt-0 {
        @media #{$sm, $xs} {
            padding-top: 0;
        }
    }
}