@use '../utils' as *;

// ============== 19. TEACHER CSS START HERE ============== 


.bd-teacher {
    border-radius: 24px;
    overflow: hidden;
    $self: &;
    position: relative;

    &:hover {
        & #{$self} {
            &-content {
                &-wrapper {
                    transform: translateY(0);
                }
            }

            &-thumb {
                &::before {
                    opacity: .3;
                }
            }
        }
    }

    &-overlay {
        &::before {
            content: "";
            height: 50%;
            width: 84%;
            position: absolute;
            top: 0;
            inset-inline-start: 8%;
            background: linear-gradient(180.87deg, var(--bd-theme-1) 0.69%, rgba(17, 161, 145, 0) 96.75%);

            @media #{$xl} {
                inset-inline-start: 1%;
                width: 96%;
            }
        }
    }

    &-bg {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-repeat: no-repeat;
        background-position: center;
        mix-blend-mode: luminosity;
        opacity: .1;

        &-wrapper {
            &::before {
                content: "";
                background: linear-gradient(90.87deg, var(--bd-theme-1) 0.69%, rgba(0, 187, 174, 0) 96.75%);
                position: absolute;
                height: 100%;
                width: 280px;
                left: 8%;
                top: 0;
                z-index: 1;

                @media #{$xl} {
                    left: 0;
                }
            }

            &::after {
                content: "";
                background: linear-gradient(-90.87deg, var(--bd-theme-1) 0.69%, rgba(0, 187, 174, 0) 96.75%);
                position: absolute;
                height: 100%;
                width: 280px;
                right: 8%;
                top: 0;

                @media #{$xl} {
                    right: 0;
                }
            }
        }
    }

    &-thumb {
        height: 408px;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            @include transition(.3s);
            @include bd-gradient((180deg, #FF577B00, var(--bd-theme-2) 65%));
        }

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }

        &-wrapper {
            &-2 {
                &:hover {
                    #{$self} {
                        &-thumb-2 {
                            &::before {
                                opacity: 1;
                            }
                        }

                        &-social {
                            &-2 {
                                opacity: 1;
                                visibility: visible;
                                transform: translate(-50%, 0%);
                            }
                        }
                    }
                }
            }
        }

        &-2 {
            height: 408px;
            position: relative;
            border-radius: 24px;
            overflow: hidden;

            &::before {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                @include transition(.3s);
                @include bd-gradient((180deg, #FF9B2414, var(--bd-common-black) 100%));
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    &-content {
        padding: 22px;

        &-wrapper {
            @include bd-gradient((100.88deg, #EBFFFE 0.6%, #FFF6EB 100%));
            border-radius: 24px 24px 0 0;
            text-align: center;
            position: absolute;
            inset-inline-start: 0;
            bottom: 0;
            width: 100%;
            transform: translateY(40px);
            @include transition(.3s);
        }
    }

    &-title {
        margin-bottom: 0px;

        a {
            &:hover {
                color: var(--bd-theme-2);
            }
        }

        &-2 {
            color: var(--bd-common-white);

            a {
                &:hover {
                    color: var(--bd-theme-2);
                }
            }
        }
    }

    // bd-teacher designation
    &-des {
        font-size: 16px;
        line-height: 26px;
        color: var(--bd-common-black);
        display: inline-block;
        margin-bottom: 4px;

        &.is-white {
            color: var(--bd-common-white);
        }
    }

    &-social {
        background-color: var(--bd-theme-2);

        ul {
            list-style-type: none;
            display: inline-flex;
            gap: 20px;

            li {
                position: relative;

                &::before {
                    content: "";
                    height: 100%;
                    width: 1px;
                    position: absolute;
                    inset-inline-end: -10px;
                    opacity: .2;
                    background-color: var(--bd-common-white);
                }

                &:last-child {
                    &::before {
                        content: none;
                    }
                }

                a {
                    padding: 6px 0;
                    color: var(--bd-common-white);
                    display: inline-block;
                }

                &:hover {
                    a {
                        color: var(--bd-theme-1);
                    }
                }
            }
        }

        &-2 {
            position: absolute;
            bottom: 24px;
            left: 50%;
            transform: translate(-50%, 20%);
            background: var(--bd-theme-2);
            padding: 0px 15px;
            border-radius: 10px;
            opacity: 0;
            visibility: hidden;
            @include transition(.4s);


            ul {
                list-style-type: none;
                display: flex;
                gap: 20px;

                li {
                    color: var(--bd-common-white);
                    padding: 10px 0;
                    position: relative;

                    &::before {
                        content: "";
                        height: 100%;
                        width: 1px;
                        position: absolute;
                        inset-inline-end: -10px;
                        opacity: .2;
                        top: 0;
                        background-color: var(--bd-common-white);
                    }

                    &:last-child {
                        &::before {
                            content: none;
                        }
                    }
                }
            }
        }
    }

    &-view-btn {
        a {
            text-decoration: underline;
            font-size: 16px;
            line-height: 32px;
            font-weight: var(--bd-fw-medium);
            color: var(--bd-common-white);

            &:hover {
                color: var(--bd-theme-2);
            }
        }
    }

    // Teacher details css here

    &-widget {
        border-radius: 32px;
        overflow: hidden;
        height: 100%;

        &-thumb {
            height: 100%;
            width: 100%;

            @media #{$md} {
                height: 450px;
            }

            @media #{$sm} {
                height: 400px;
            }

            @media #{$xs} {
                height: 350px;
            }

            img {
                height: 100%;
                object-fit: cover;
                width: 100%;
                border-radius: 32px;
            }
        }

        &-title {
            font-size: 45px;

            @media #{$lg} {
                font-size: 40px;
            }

            @media #{$sm,$md} {
                font-size: 45px;
            }

            @media #{$xs} {
                font-size: 30px;
            }
        }

        &-content {
            padding: 30px 32px 40px;
            border-radius: 32px;

            p {
                line-height: 30px;
                margin-bottom: 25px;
            }
        }

        &-tag {
            color: var(--bd-theme-1);
            margin-bottom: 25px;
            display: inline-block;
        }

        &-social {
            display: flex;
            gap: 15px;
            align-items: center;

            @media #{$xs} {
                flex-direction: column;
                align-items: flex-start;
            }

            ul {
                list-style: none;
                display: flex;
                gap: 10px;

                li {
                    a {
                        height: 38px;
                        width: 38px;
                        display: inline-block;
                        text-align: center;
                        line-height: 38px;
                        border-radius: 50%;
                        background-color: var(--bd-theme-1);
                        color: var(--bd-common-white);

                        &:hover {
                            background-color: var(--bd-theme-2);
                        }
                    }
                }
            }
        }

        &-info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media #{$xs} {
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 10px;
            }

            p {
                @media #{$xs} {
                    margin-bottom: 5px;
                }
            }
        }
    }

    &-skill {
        &-content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                font-size: 18px;
                line-height: 30px;
                font-weight: 400;
                display: inline-block;
                margin-bottom: 18px;
            }
        }

        .progress {
            height: 8px;
            background-color: #FFECD6;

            &-bar {
                background-color: var(--bd-theme-2);
            }
        }
    }
}


// TEACHER CSS END HERE 